@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --color-sage: #A8C3B9;
  --color-dark-bg: #1E1E2F;
  --color-dark-card: #2B2B3C;
  --color-main-text: #e0DDDD;
  
  --font-space: "Space Grotesk", sans-serif;
}

